<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Duino_Controller_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Duino_Controller_1._0.Properties.Settings>
      <setting name="thememetro" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="themaprogres" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="colorstyle" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="rele1" serializeAs="String">
        <value>Relé 1</value>
      </setting>
      <setting name="rele1enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rele2" serializeAs="String">
        <value>Relé 2</value>
      </setting>
      <setting name="rele2enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rele3" serializeAs="String">
        <value>Relé 3</value>
      </setting>
      <setting name="rele3enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rele4" serializeAs="String">
        <value>Relé 4</value>
      </setting>
      <setting name="rele4enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rele5" serializeAs="String">
        <value>Relé 5</value>
      </setting>
      <setting name="rele5enable" serializeAs="String">
        <value>False</value>
      </setting>
    </Duino_Controller_1._0.Properties.Settings>
  </userSettings>
</configuration>